div.noPadding{
    padding-right: 0;
}

div.textHeading {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

div.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

div.colOne {
    padding-left: 100px;
}

div.boxBorder{
    border-style: solid;
    border-radius: 10px;
}

div.navbarOne {
    background-color: blue;
}

div.centeredContainer {
    justify-content: center;
    align-items: center;
}

div.Titles {
    justify-content: center;
    align-items: center;
}

div.textOverflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:scroll;
}